.parent {
  background-color: #0a0b1a;
}
.main {
  display: flex;
  width: 100%;
  gap: 15px;
  color: white;
}
h2 {
  white-space: nowrap;
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
  color: #e5c558;
}
.main > img {
  height: 100%;
}
.uoo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yoo {
  display: flex;
  gap: 10px;
  white-space: nowrap;
}

.too {
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.foo {
  width: 300px;
  border: 2px solid #e5af56 !important;
  border-radius: 20px !important;
  background-color: #0a0b1a;
  box-shadow: 10px -12px 2px -1px rgba(39, 108, 115, 0.76);
  -webkit-box-shadow: 10px -12px 2px -1px rgba(39, 108, 115, 0.76);
  -moz-box-shadow: 10px -12px 2px -1px rgba(39, 108, 115, 0.76);
}
